mymirror.fr {
    encode gzip zstd

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    reverse_proxy mirror:5000
}

www.mymirror.fr {
    redir https://mymirror.fr{uri} permanent
}

http://51.83.71.145 {
    encode gzip zstd

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    reverse_proxy mirror:5000
}
